/* Primary Colors */
:root {
  --primary-color: #f5f5f5; /* Light Grey */
  --primary-dark-color: #333333; /* Dark Grey */
  --accent-color: #ff6f61; /* Coral */
  --accent-dark-color: #ff3b30; /* Dark Coral */
  --text-color: #333333; /* Dark Text */
  --text-light-color: #ffffff; /* Light Text */
}

/* Dark Theme Colors */
body.dark-theme {
  --primary-color: #333333; /* Dark Grey */
  --primary-dark-color: #f5f5f5; /* Light Grey */
  --text-color: #f5f5f5; /* Light Text */
  --text-light-color: #333333; /* Dark Text */
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  border: 2px solid var(--primary-dark-color);
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--text-light-color);
  background-color: var(--accent-color);
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: var(--accent-dark-color);
}

#themeToggle {
  background-color: transparent;
  color: var(--accent-color);
}

#themeToggle:hover {
  background-color: transparent;
  color: var(--accent-dark-color);
}

#themeToggle i {
  font-size: 24px;
}

#progressContainer {
  width: 80%;
  background-color: var(--primary-dark-color);
  border-radius: 5px;
  margin: 20px 0;
}

#progressBar {
  width: 0;
  height: 20px;
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: width 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  width: 80%;
}

li {
  background-color: var(--accent-color);
  color: var(--text-light-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
}

li:hover {
  background-color: var(--accent-dark-color);
  transform: scale(1.02);
}

li.done {
  background-color: var(--primary-dark-color);
  color: var(--text-color);
  text-decoration: line-through;
}

li button {
  background-color: transparent;
  color: var(--text-light-color);
  font-weight: bold;
  cursor: pointer;
}

li button:hover {
  color: var(--text-color);
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 10px;
}

@media (max-width: 600px) {
  input {
    width: 90%;
  }

  ul {
    width: 90%;
  }
}
