/* Primary Colors */
:root {
  --primary-color: #f5f5f5; /* Light Grey */
  --primary-dark-color: #333333; /* Dark Grey */
  --accent-color: #ff6f61; /* Coral */
  --accent-dark-color: #ff3b30; /* Dark Coral */
  --text-color: #333333; /* Dark Text */
  --text-light-color: #ffffff; /* Light Text */
}

/* Dark Theme Colors */
body.dark-theme {
  --primary-color: #333333;
  --primary-dark-color: #f5f5f5;
  --text-color: #f5f5f5;
  --text-light-color: #333333;
}

/* Basic Styles */
body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

#themeSwitchContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.theme-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--accent-color);
}

.theme-toggle-btn:hover {
  color: var(--accent-dark-color);
}

#menu {
  width: 250px;
  border-right: 1px solid var(--primary-dark-color);
  padding: 10px;
  background-color: var(--primary-color);
}

#taskListView {
  flex-grow: 1;
  padding: 10px;
  display: none;
}

.task-list-tile, .search-result {
  padding: 10px;
  border: 1px solid var(--primary-dark-color);
  margin-bottom: 5px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-light-color);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.task-list-tile:hover, .search-result:hover {
  background-color: var(--accent-dark-color);
  transform: scale(1.02);
}

input {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--primary-dark-color);
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--text-light-color);
  background-color: var(--accent-color);
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: var(--accent-color);
}

#backToLists {
  background-color: transparent;
  color: var(--accent-color);
}

#backToLists:hover {
  background-color: transparent;
  color: var(--accent-dark-color);
}

#progressContainer {
  width: 100%;
  background-color: var(--primary-dark-color);
  border-radius: 5px;
  margin: 20px 0;
  position: relative;
}

#progressBar {
  width: 0;
  height: 20px;
  background-color: var(--accent-color); 
  border-radius: 5px; 
  transition: width 0.3s; 
} 

#progressText {
  position: absolute; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-light-color); 
  font-weight: bold;
}


/* Task List Styles */
ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* Individual Task Items */
li {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid var(--primary-dark-color);
  border-radius: 5px; 
  list-style: none; 
  background-color: var(--primary-color); 
  color: var(--text-color); 
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
}

li:hover {
  background-color: var(--primary-dark-color); 
  transform: scale(1.02); 
  color: var(--text-light-color);
}

li.done {
  background-color: var(--accent-color); 
  text-decoration: line-through;
}

/* Task Date */
.task-date {
  font-size: 0.8em;
  color: var(--accent-color); 
  position: absolute;
  top: 5px;
  right: 10px;
}

.task-text {
  flex-grow: 1;  
}

/* Edit and Delete Buttons */
.edit-btn, .delete-btn {
  background: none; 
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 5px;
}

.delete-btn {
  color: var(--accent-ligth-color); 
}

.edit-btn {
  color: var(--accent-color); 
}

/* Sort Button */
#sortTasksByDate {
  background-color: var(--accent-color); 
  color: var(--text-light-color); 
  padding: 10px 15px;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 1em; 
  font-weight: bold; 
  transition: background-color 0.3s, box-shadow 0.3s; 
  margin-bottom: 10px;
  display: flex; 
  align-items: center;
  gap: 5px; 
}

#sortTasksByDate i {
  font-size: 1.2em; 
  color: var(--text-light-color);
}

#sortTasksByDate:hover, body.dark-theme #sortTasksByDate:hover { 
  color: var(--text-light-color);
}

body.dark-theme #sortTasksByDate {
  background-color: var(--primary-dark-color); 
  color: var(--text-light-color);
}

@media (max-width: 768px) {
  #sortTasksByDate {
      font-size: 0.9em;
      padding: 8px 12px;
  }

}
